.mt-45 {
	margin-top: 45vh;
}

.user-card {
	width: 300px;
	margin: 0 20px 40px;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
}

.user-card:hover {
	transform: translateY(-10px);
	/* Desplaza ligeramente hacia arriba al hacer hover */
}

.user-card-body {
	display: block;
	padding: 20px;
	background-color: rgb(42, 127, 212);
	overflow: hidden;
	position: relative;
	border-radius: 20px;
}

.user-card-info {
	width: auto;
	z-index: 2;
	position: relative;
}

.user-card-bg {
	height: 100px;
	width: 100px;
	background-color: #3498db;
	z-index: 1;
	position: absolute;
	top: -50px;
	right: -50px;
	transition: transform 0.5s ease;
	border-radius: 20px;
}

.user-card-body:hover .user-card-bg {
	transform: rotate(45deg) scale(1.5);
	/* Rota y escala el fondo al hacer hover */
}

.user-card-img img {
	width: 80px;
	border-radius: 50%;
	aspect-ratio: 1/1;
}